.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.text {
    padding: 32px;
    line-height: 38px;
    font-size: 32px;
    text-align: center;
}

.progress {
    width: 200px;
}

