html {
  min-height: 100%;
  font-family: system-ui, Helvetica, sans-serif;
  font-weight: lighter;
}

body, h1, h2, h3, li {
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
}

html, body, #root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}




